
.DS_Store
.env
.flake8
.git
.idea
.mypy_cache
.pylintrc
.pytest_cache
.ruff_cache
.venv
.vscode
.nvim.lua
pyrightconfig.json

__pycache__
buffer.zip

db.sqlite3
db.sqlite3-journal

git-hooks
mypy.ini
pytest.ini
redis
venv

docker-compose-postgress.yml

media

cache
dump.rdb
htmlcov
staticfiles

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
