{% extends "user/base.html" %}
{% load static %}
{% block head%}
    <link rel="stylesheet" href="{% static 'css/faq.css'%}">
{% endblock %}
{% block content %}
<div class="faq-container">
  <h2>Часто задаваемые вопросы</h2>
  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>КАК РАБОТАЕТ НАШ СЕРВИС ЭЛО БУСТА?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Вы выбираете желаемый вид услуги, указываете необходимые данные, оплачиваете заказ. Затем, один из наших профессиональных игроков с высоким рангом
         (TOP-50 Challenger RU \ Diamond 1+ EUW) заходит на ваш аккаунт и приступает к выполнению заказа. Мы гарантируем быстрый и качественный результат.
          В итоге вы получаете желаемый ранг в самые кратчайшие сроки!</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>ЧТО ДЕЛАТЬ, ЕСЛИ Я НЕ ЗНАЮ СКОЛЬКО МОЙ АККАУНТ ПОЛУЧАЕТ LP ЗА ПОБЕДУ?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Вы можете попытаться прикинуть приблизительное количество получаемых League Points за победу, исходя из последних сыгранных матчей на вашем аккаунте.
         Если у вас нет даже примерного представления о вашем MMR, в таком случае, во вкладке «LP ЗА ПОБЕДУ» просто укажите «18+ LP за Win». Мы свяжемся с вами,
          и дадим знать, если в процессе прокачки выяснится, что вам дают меньше чем вы указали. В таком случае необходимо будет доплатить за те дивизионы,
           в которых будет низкий показатель LP за победу. При необходимости, мы можем предоставить скриншоты низкого количества LP.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>ПЕРЕДАВАЯ ДАННЫЕ, МОЖЕТ ЛИ МОЙ ИГРОВОЙ АККАУНТ БЫТЬ УКРАДЕН?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Нет. Если ваша учетная запись привязана к вашей электронной почте – вы имеете полный контроль и доступ от вашего аккаунта, с возможностью
         восстановления пароля через почту. Для того, чтобы произвести соло буст игрового аккаунта нам не требуется доступ от вашей электронной почты.
          И наши бустеры не имеют доступ от нее. Украсть аккаунт при такой ситуации просто невозможно.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>КАК ПРОИСХОДИТ ПРОЦЕСС ОФОРМЛЕНИЯ И ОПЛАТЫ ЗАКАЗА?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Вы выбираете желаемый вид услуги, указываете все необходимые параметры, заполняете данные, указываете способ оплаты, и размещаете заказ.
         После размещения заказа вам необходимо его оплатить, следуя инструкциям. После 100% предоплаты и проверки поступления денежных средств на
          наши реквизиты – вся сумма остается у нас, статус вашего заказа изменится на «выполняется», и один из наших не занятых бустеров приступит
           к его выполнению в самые кратчайшие сроки. Когда заказ будет полностью завершен – вы получите уведомление на почту с возможностью оставить
            отзыв, а исполнитель свои деньги за работу. Таким образом, обеспечивается максимальная безопасность и гарантия для всех сторон.
             Если у вас имеются какие-либо сомнения можно оформить и оплатить заказ для начала на небольшую сумму.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>КАКИЕ ВИДЫ ОПЛАТ ПРИНИМАЕТ НАШ СЕРВИС?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Мы принимаем оплату на всевозможные виды платежных систем, а именно: Яндекс Деньги, QIWI, WebMoney, PayPal, VISA, MasterCard.
         Включая такие банки как Сбербанк, Альфабанк, Тинькофф, ВТБ.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>СКОЛЬКО ВРЕМЕНИ ЗАНИМАЕТ БУСТ АККАУНТА?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>У каждого из видов услуг, рядом с итоговой ценой, при выставлении определенных параметров будет указано приблизительное время
         выполнение заказа. Хотим отметить тот факт, что данные показатели являются ориентировочными. Многое зависит еще от вашего MMR.
          В любом случае, мы стараемся не затягивать, и прокачивать в среднем по дивизиону в день, или больше.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>МОЖНО ЛИ ВЫБРАТЬ ОПРЕДЕЛЕННУЮ РОЛЬ И ЧЕМПИОНОВ?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Да. Если вы хотите, чтобы в процессе выполнения заказа наш человек играл только на определенной роли – выберите специальную опцию
         в нашем калькуляторе «ОПРЕДЕЛЕННАЯ РОЛЬ». В таком случае, в процессе оформления заказа вы сможете выбрать желаемую позицию,
          и наш человек будет строго придерживаться этих указаний, за исключением «автофила» (что случается крайне редко).
          Так же, вы можете перечислить в поле с описанием пожелания по пулу героев. Бустер учтет данный список, и постарается играть
           на указанных вами героях, если это будет возможно.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>БУДЕТ ЛИ БУСТЕР ТРАТИТЬ СИНИЕ ЭССЕНЦИИ ИЛИ RP НА МОЕМ АККАУНТЕ?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Нет. Вы можете не переживать за сохранность ваших Синих Эссенций и RP на балансе игрового аккаунта.
         Мы ни в коем случае не тратим ваши накопления без разрешения. Если по какой то причине бустеру необходимо будет купить
         какого-либо чемпиона – мы обязательно уточним и согласуем это действие с заказчиком. В 99% случаях нам достаточно и стандартного
          пула из 20 героев, чтобы прокачать ранг. Так же, для удобства, каждый клиент на моменте оформления заказа имеет возможность
           сразу указать - разрешается ли нам тратить Синие Эссенции, или нет.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>КАК МОЖНО ОТСЛЕЖИВАТЬ ПРОГРЕСС ВЫПОЛНЕНИЯ ЗАКАЗА?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Как только вы оплатите заказ, мы проверим поступление средств, и статус изменится на «выполняется» - вам сразу же придет письмо на почту,
         в котором будет специальная кнопка, перейдя по которой вы увидите всю статистику по вашему аккаунту. Вы сможете в режиме реального времени,
          без задержки, контролировать весь процесс буста: победы\поражения, игровые предметы, KDA, текущий дивизион, время захода бустера,
           количество сыгранных игр, и прочее. Вы так же можете наблюдать за каждой игрой через режим «спектатора», получая драгоценный опыт путем
            наблюдения. Для этого не обязательно иметь второй аккаунт, все это можно делать через сайт.</p>
    </div>
  </div>
  
  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>МОГУ ЛИ Я ЗАХОДИТЬ И ИГРАТЬ НА СВОЕМ АККАУНТЕ ВО ВРЕМЯ НЕЗАВЕРШЕННОГО ЗАКАЗА?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Теоретически да, главное чтобы это был не ранговый режим. Но в любом случае, мы настоятельно просим не заходить до тех пор, пока заказ не будет
         доделан полностью. Если вы желаете играть Normal Draft или ARAM в момент отсутствия бустера – обязательно уведомите нас об этом, иначе вы можете
          помешать нам делать свою работу.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>ЕСЛИ Я БУДУ НЕ УДОВЛЕТВОРЕН ТЕКУЩИМ БУСТЕРОМ, МОГУ ЛИ ПОПРОСИТЬ СМЕНИТЬ ЕГО?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Если по каким-либо причинам вы будете не удовлетворены результатами текущего бустера, свяжитесь с нами, и мы более подробно рассмотрим ситуацию.
         В случае, если причина будет обоснованной – мы без проблем заменим человека на другого. Такая возможность предусмотрена, но уверяем вас, что она не понадобится.
          Все наши бустеры являются профессиональными игроками с многолетним стажем работы. Мы не набираем кого попало. Каждый сотрудник проходит тщательную проверку,
           перед тем, как получает работу в нашей команде.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>МОГУ ЛИ Я ИГРАТЬ В ДУО С ВАШИМ БУСТЕРОМ?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Да, для этого просто выберите опцию «ИГРАТЬ В ДУО С БУСТЕРОМ». В таком случае наш человек подстроится под ваш график, и будет играть с вами ДУО игры на вашем сервере
         со своего смурф-аккаунта. Но есть один важный момент – заказывая услугу ДУО бустинга, пожалуйста, убедитесь, что вы сами сможете адекватно отыгрывать свою роль на том ранге,
          который желаете заполучить. Вам не разрешается «троллить» в процессе прокачки и намеренно «кормить» врагов. Если вы плохо играете и не уверены в своих силах – лучше
           оформить заказ как в «СОЛО». Цените свое и наше время!</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>МОГУТ ЛИ МЕНЯ ЗАБАНИТЬ ЗА ПОВЫШЕНИЕ РЕЙТИНГА?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>За много лет нашей деятельности не было ни единого случая бана, ни у одного из наших клиентов. Хотя отметим, что сами Riot Games не одобряют услуги бустинга.
         Заказывая услугу буста аккаунта – вы должны понимать, что берете ее на свой страх и риск. Мы гарантируем качественно выполненную работу, в короткие сроки,
          с максимальной безопасностью для аккаунта, но не отвечаем за последующие действия со стороны администрации сервера.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>НА КАКИХ СЕРВЕРАХ ВЫ ОСУЩЕСТВЛЯЕТЕ ПРОКАЧКУ?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Наш сервис работает и осуществляет прокачку лиг и дивизионов в Лиге Легенд на следующих серверах: Russia,
         EU West, EU Nordic&East, Turkey, North America.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>ЕСЛИ БУСТЕР ПЕРЕПРЫГНУЛ ЧЕРЕЗ ЗАКАЗАННЫЙ ДИВИЗИОН В ПРОЦЕССЕ ПРОКАЧКИ, ДОЛЖЕН ЛИ Я ДОПЛАЧИВАТЬ ЗА ЭТО?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Нет, считайте это подарком! Хотя, если у вас будет личное желание отблагодарить нас за хорошую работу –
        мы будем рады принять от вас небольшой процент в виде поощрения, от апнутого сверху дивизиона.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>НУЖНО ЛИ МЕНЯТЬ ПАРОЛЬ ОТ АККАУНТА ПОСЛЕ ЗАВЕРШЕНИЯ ПРОКАЧКИ?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Не обязательно. Вся наша команда состоит исключительно из проверенных и адекватных игроков, которые не зайдут на ваш аккаунт
         после полного завершения заказа. Мы дорожим своей репутацией, поэтому, вы можете не переживать за сохранность ваших данных во время,
          и после прокачки.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question" onclick="toggleFaq(this)">
      <p>ПИШУТ ЛИ БУСТЕРЫ ЧТО ТО В ЧАТ, КОГДА ДЕЛАЮТ ЗАКАЗ?</p>
      <img src="{% static 'images/arrow.png' %}" alt="arrow" class="faq-arrow">
    </div>
    <div class="faq-answer">
      <p>Все наши люди полностью игнорируют френд-лист в клиенте игры, и ничего не отвечают в игровом чате в самой игре.
        Как правило, мы включаем режим /mute all – чтобы не отвлекаться на переписку тиммейтов в процессе буста.
        Единственное что дозволено использовать бустеру во внутриигровом чате – это тактические фразы типа «go baron», «push mid», и так далее.
        Мы не флеймим и не оскорбляем других игроков, даже если они намеренно сливают игру.</p>
    </div>
  </div>
</div>

<script>
function toggleFaq(element) {
  const faqItem = element.parentElement;
  faqItem.classList.toggle('active');
}
</script>
{% endblock %}
