{% extends "store/store_base.html" %}
{% load static %}
{% block extra_head%}
  <link rel="stylesheet" href="{% static 'css/store_elo_boost_choice.css'%}">
{% endblock %}
{% block extra_content %}
  <form action="{% url 'store:store_elo_boost_choice' %}" method='POST'>
    {% csrf_token %}
    <div class="containerchoice">
        <div class="card">
        <img id="current-image" src="/media/gold_4_2023.png" alt="Текущая позиция">
        <h3>ТЕКУЩАЯ ПОЗИЦИЯ</h3>
        <div class="select-box">
          {{ store_form.current_position }}
          <!-- <select id="current-position">
            <option value="7">MASTER</option>
            <option value="6">DIAMOND</option>
            <option value="5">EMERALD</option>
            <option value="4">PLATINUM</option>
            <option value="3">GOLD</option>
            <option value="2">SILVER</option>
            <option value="1">BRONZE</option>
            <option value="0">IRON</option>
          </select> -->
        </div>
        <div class="select-box">
          {{ store_form.current_division }}
          <!-- <select id="current-division">
            <option value="0">DIVISION 1</option>
            <option value="1">DIVISION 2</option>
            <option value="2">DIVISION 3</option>
            <option value="3">DIVISION 4</option>
          </select> -->
        </div>
        <h3 class="last">ТЕКУЩИЕ LEAGUE POINTS</h3>
        <div class="select-box">
          {{ store_form.current_lp }}
          <!-- <select id="current-lp">
            <option value="4">0-20 LP</option>
            <option value="3">21-40 LP</option>
            <option value="2">41-60 LP</option>
            <option value="1">61-80 LP</option>
            <option value="0">81-99 LP</option>
          </select> -->
        </div>
        </div>

        <div class="card">
        <img id="desired-image" src="/media/platinum_4_2023.png" alt="Желаемая позиция">
        <h3>ЖЕЛАЕМАЯ ПОЗИЦИЯ</h3>
        <div class="select-box">
          {{ store_form.desired_position }}
          <!-- <select id="desired-position">
            <option value="8">GRANDMASTER</option>
            <option value="7">MASTER</option>
            <option value="6">DIAMOND</option>
            <option value="5">EMERALD</option>
            <option value="4">PLATINUM</option>
            <option value="3">GOLD</option>
            <option value="2">SILVER</option>
            <option value="1">BRONZE</option>
            <option value="0">IRON</option>
          </select> -->
        </div>
        <div class="select-box">
          {{ store_form.desired_division }}
          <!-- <select id="desired-division">
            <option value="0">DIVISION 1</option>
            <option value="1">DIVISION 2</option>
            <option value="2">DIVISION 3</option>
            <option value="3">DIVISION 4</option>
          </select> -->
        </div>
        <h3 class="last">LP ЗА ПОБЕДУ</h3>
        <div class="select-box">
          {{ store_form.lp_per_win }}
          <!-- <select id="lp-per-win">
            <option value="1">18+ LP ЗА WIN</option>
            <option value="1.1">15-17 LP ЗА WIN</option>
            <option value="1.2">МЕНЕЕ 15 LP ЗА WIN</option>
          </select> -->
        </div>
        </div>

        <div class="card">
        <div class="serverimg">
          <img id="server-image" src="/media/server_russia.png" alt="Сервер">
        </div>
        <h3>СЕРВЕР И ОЧЕРЕДЬ</h3>
        <div class="select-box">
          {{ store_form.server }}
          <!-- <select id="server">
            <option value="1">EU WEST</option>
            <option value="0.8">RUSSIA</option>
          </select> -->
        </div>
        <div class="select-box">
          {{ store_form.queue_type }}
          <!-- <select id="queue-type">
            <option value="0">SOLO/DUO QUEUE</option>
            <option value="1">FLEX 5V5 QUEUE</option>
          </select> -->
        </div>
        <div class="option">
        <h3 class="last">Опции:</h3>
        <div class="option-row">
          {{ store_form.specific_role }}
          <!-- <input class="checkbox" type="checkbox" id="specific-role" value="1.2"> -->
          <label for="specific-role">Определенная роль</label>
        </div>

        <div class="option-row">
          {{ store_form.duo_booster }}
          <!-- <input class="checkbox" type="checkbox" id="duo-booster" value="1.3"> -->
          <label for="duo-booster">Играть в дуо с бустером</label>
        </div>
        </div>
        </div>
      </div>

      <div class="coupon">
      {{ store_form.coupon_code }}
      <!-- <input type="text" id="coupon-code" placeholder="Ввести купон"> -->
      <span class="discount">Скидка: <span id="discount-value">0</span> %</span>
      <div id="apply-coupon">Применить</div>
      </div>

      <div class="total">
      <div class="purchase">
        <h3>Итоговое время: <span id="total-time"></span> ч.</h3>
        <h3>ИТОГОВАЯ ЦЕНА: <span id="total-price"></span> руб.</h3>
        {{ store_form.total_time }}
        {{ store_form.total_price }}
        <button type="submit">КУПИТЬ</button>
      </div>
      <div class="description">
        <p>Выбирая данную услугу вы гарантированно получаете желаемый ранг на вашем сервере. Заказы принимаем во всех очередях: Solo/Duo и Flex 5v5. Выбор расположения заклинаний, Offline статус, и пожелания по VPN – доступны бесплатно. Если вы хотите приобрести повышение аккаунта до Challenger лиги обратитесь к нашему оператору.</p>
      </div>
      </div>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          let discount = 0; // Процент скидки

          // Селекторы
          const currentPos = document.getElementById("current-position"); // Текущая позиция
          const currentDiv = document.getElementById("current-division"); // Текущий дивизион
          const desiredPos = document.getElementById("desired-position"); // Желаемая позиция
          const desiredDiv = document.getElementById("desired-division"); // Желаемый дивизион
          const lpPerWin = document.getElementById("lp-per-win"); // LP за победу
          const server = document.getElementById("server");
          const specificRole = document.getElementById("specific-role"); // Определенная роль
          const duoBooster = document.getElementById("duo-booster"); // Игра в дуо
          const couponInput = document.getElementById("coupon-code"); // Купон код
          const applyCouponBtn = document.getElementById("apply-coupon"); // Кнопка применить купон
          const totalPriceElem = document.getElementById("total-price"); // Итоговая цена
          const totalTimeElem = document.getElementById("total-time");
          const currentImage = document.getElementById("current-image");
          const desiredImage = document.getElementById("desired-image");
          const serverImage = document.getElementById("server-image");
          const formTotalPriceElem = document.getElementById("total-price-form");
          const formTotalTimeElem = document.getElementById("total-time-form");
          const discountElem = document.getElementById("discount-value");




          const rankData = {
              "iron": {
                  "4": { "price": 300, "time": 2 },
                  "3": { "price": 300, "time": 2 },
                  "2": { "price": 300, "time": 2 },
                  "1": { "price": 300, "time": 2 }
              },
              "bronze": {
                  "4": { "price": 400, "time": 2 },
                  "3": { "price": 400, "time": 2 },
                  "2": { "price": 400, "time": 2 },
                  "1": { "price": 400, "time": 2 }
              },
              "silver": {
                  "4": { "price": 500, "time": 2 },
                  "3": { "price": 500, "time": 2 },
                  "2": { "price": 500, "time": 2 },
                  "1": { "price": 500, "time": 2 }
              },
              "gold": {
                  "4": { "price": 600, "time": 3 },
                  "3": { "price": 600, "time": 3 },
                  "2": { "price": 600, "time": 3 },
                  "1": { "price": 600, "time": 3 }
              },
              "platinum": {
                  "4": { "price": 800, "time": 5 },
                  "3": { "price": 800, "time": 5 },
                  "2": { "price": 800, "time": 5 },
                  "1": { "price": 800, "time": 5 }
              },
              "emerald": {
                  "4": { "price": 1100, "time": 7 },
                  "3": { "price": 1100, "time": 7 },
                  "2": { "price": 1100, "time": 7 },
                  "1": { "price": 1100, "time": 7 }
              },
              "diamond": {
                  "4": { "price": 2000, "time": 7 },
                  "3": { "price": 2000, "time": 7 },
                  "2": { "price": 2000, "time": 7 },
                  "1": { "price": 2000, "time": 7 }
              },
              "master": {
                  "1": { "price": 5000, "time": 15 }
              },
              "grandmaster": {
                  "1": { "price": 10000, "time": 15 } }

            };



          // Функция для извлечения параметров из URL
            function getQueryParams() {
              const urlParams = new URLSearchParams(window.location.search);
              return {
                  currentRank: urlParams.get('currentRank'),
                  desiredRank: urlParams.get('desiredRank')
              };
          }

          // Функция установки значений селекторов
          function setFormValues() {
            const { currentRank, desiredRank } = getQueryParams();

             // Карта соответствий для рангов
            const rankMap = {
                "iron": "0",
                "bronze": "1",
                "silver": "2",
                "gold": "3",
                "platinum": "4",
                "emerald": "5",
                "diamond": "6",
                "master": "7",
                "grandmaster": "8"
            };

            // Устанавливаем текущую позицию
            if (currentRank && rankMap[currentRank] !== undefined) {
                currentPos.value = rankMap[currentRank];
            }

            // Устанавливаем желаемую позицию
            if (desiredRank && rankMap[desiredRank] !== undefined) {
                desiredPos.value = rankMap[desiredRank];
            }

            // Обновляем интерфейс и вычисляем стоимость
            toggle1DivisionSelect();
            toggleDivisionSelect();
            updateDesiredOptions();
            calculatePrice();
        }

            // Вызов функции для установки значений при загрузке страницы
            setFormValues();

            // Функция для смены изображения
            function updateImage(rankValue, imageElement) {
              let imageUrl = "";

              // Определяем путь к изображению в зависимости от выбранного значения
              switch (rankValue) {
                  case "8":
                      imageUrl = "/media/grandmaster_1_2023.png";
                      break;
                  case "7":
                      imageUrl = "/media/master_1_2023.png";
                      break;
                  case "6":
                      imageUrl = "/media/diamond_4_2023.png";
                      break;
                  case "5":
                      imageUrl = "/media/emerald_4_2023.png";
                      break;
                  case "4":
                      imageUrl = "/media/platinum_4_2023.png";
                      break;
                  case "3":
                      imageUrl = "/media/gold_4_2023.png";
                      break;
                  case "2":
                      imageUrl = "/media/silver_4_2023.png";
                      break;
                  case "1":
                      imageUrl = "/media/bronze_4_2023.png";
                      break;
                  case "0":
                      imageUrl = "/media/iron_4_2023.png";
                      break;
                  default:
                      imageUrl = "/media/default.png"; // Путь к изображению по умолчанию
              }
              imageElement.src = imageUrl;
            }


          // Функция для смены изображения региона
          function updateServerImage(rankValue, imageElement) {
            let imageUrl = "";

            switch (rankValue) {
              case "1":
                  imageUrl = "/media/server_eu_west.png";
                  break;
              case "0.8":
                  imageUrl = "/media/server_russia.png";
                  break;
              default:
                  imageUrl = "/media/server_eu_west.png"; // Путь к изображению по умолчанию
          }

          // Обновляем атрибут src у изображения
          imageElement.src = imageUrl;
        }

        function formatTime(timeInHours) {
          const hours = Math.floor(timeInHours);
          const minutes = Math.floor((timeInHours % 1) * 60);
          const seconds = Math.round((((timeInHours % 1) * 60) % 1) * 60);

          // Добавляем ведущие нули для часов, минут и секунд
          const formattedHours = String(hours).padStart(2, '0');
          const formattedMinutes = String(minutes).padStart(2, '0');
          const formattedSeconds = String(seconds).padStart(2, '0');

          return `${formattedHours}:${formattedMinutes}:${formattedSeconds}`;
      }
          // Функция расчета цены
          function calculatePrice() {
            let price = 0;
            let time = 0;

            const currentRank = getRankName(currentPos.value);
            const desiredRank = getRankName(desiredPos.value);
            let currentDivision = currentPos.value === "7" ? "4" : currentDiv.value;
            let desiredDivision = desiredPos.value === "7" || desiredPos.value === "8" ? "-1" : desiredDiv.value;

            console.log(`Current Rank: ${currentRank}, Current Division: ${currentDivision}`);
            console.log(`Desired Rank: ${desiredRank}, Desired Division: ${desiredDivision}`);

            // Проверяем индексы
            const rankOrder = ["iron", "bronze", "silver", "gold", "platinum", "emerald", "diamond", "master", "grandmaster"];
            let currentRankIndex = rankOrder.indexOf(currentRank);
            let desiredRankIndex = rankOrder.indexOf(desiredRank);

            console.log(`Current Rank Index: ${currentRankIndex}, Desired Rank Index: ${desiredRankIndex}`);

            // Убедимся, что индексы валидны
            if (currentRankIndex === -1 || desiredRankIndex === -1) {
                console.error("Invalid rank name:", currentRank, desiredRank);
                return; // Прерываем выполнение, если есть ошибка
            }

            // Переход по ранговым дивизионам
            for (let rankIndex = currentRankIndex; rankIndex <= desiredRankIndex; rankIndex++) {
                console.log(rankIndex, desiredRankIndex)
                const rank = rankOrder[rankIndex];
                let startDiv = (rankIndex === currentRankIndex) ? parseInt(currentDivision)+1 : 4;
                let endDiv = (rankIndex === desiredRankIndex) ? parseInt(desiredDivision)+2 : 1;
                if (rankIndex === 8 || rankIndex === 7) {
                  startDiv = 1
                }
                console.log(rankIndex, desiredRankIndex, startDiv, endDiv)
                // Пробегаемся по всем дивизионам ранга
                for (let div = startDiv; div >= endDiv; div--) {
                    if (rankData[rank] && rankData[rank][div]) {
                        price += rankData[rank][div].price;
                        time += rankData[rank][div].time;
                        console.log(`Adding price for rank ${rank}, div ${div}: ${rankData[rank][div].price}`);
                    } else {
                        console.error(`Price data not found for rank ${rank}, div ${div}`);
                    }
                }
            }

            // Увеличиваем цену за LP за победу
            price = price * parseFloat(lpPerWin.value);

            // Цена в зависимости от сервера
            price = price * parseFloat(server.value);

            // Опции
            if (specificRole.checked) price *= parseFloat(specificRole.value);
            if (duoBooster.checked) price *= parseFloat(duoBooster.value);

            // Применяем скидку
            price = price - (price * discount) / 100;

            // Обновляем итоговую цену
            totalPriceElem.textContent = price.toFixed(0);
            totalTimeElem.textContent = time
            formTotalPriceElem.value = Number(price.toFixed(0));
            formTotalTimeElem.value = formatTime(time)
          }

          // Функция получения названия ранга
          function getRankName(rankValue) {
              switch (rankValue) {
                  case "0": return "iron";
                  case "1": return "bronze";
                  case "2": return "silver";
                  case "3": return "gold";
                  case "4": return "platinum";
                  case "5": return "emerald";
                  case "6": return "diamond";
                  case "7": return "master";
                  case "8": return "grandmaster";
                  default: return "";
              }
          }

          // Текущий дивизион скрыть
          function toggle1DivisionSelect() {
              if (currentPos.value === "7") { // Если позиция MASTER
                  currentDiv.style.display = "none"; // Скрываем DIVISION select
              } else {
                  currentDiv.style.display = "block"; // Показываем DIVISION select
              }
          }

          // Желаемый дивизион скрыть
          function toggleDivisionSelect() {
              if (desiredPos.value === "7" || desiredPos.value === "8") { // Если позиция MASTER или CHALLENGER
                  desiredDiv.style.display = "none"; // Скрываем DIVISION select
              } else {
                  desiredDiv.style.display = "block"; // Показываем DIVISION select
              }
          }

          // Обновление доступных опций в "Желаемой позиции"
          function updateDesiredOptions() {
              const currentPosValue = parseInt(currentPos.value);

              // Перебираем все опции в "Желаемой позиции"
              for (let option of desiredPos.options) {
                  if (parseInt(option.value) < currentPosValue) {
                      option.disabled = true;
                  } else {
                      option.disabled = false;
                  }
              }

              // Обновляем опции в желаемом дивизионе
              updateDesiredDivisionOptions();
          }

          // Обновление доступных опций в "Желаемом дивизионе"
          function updateDesiredDivisionOptions() {
              const currentPosValue = parseInt(currentPos.value);
              const desiredPosValue = parseInt(desiredPos.value);
              const currentDivValue = parseInt(currentDiv.value);

              if (currentPosValue === desiredPosValue) {
                  for (let option of desiredDiv.options) {
                      if (parseInt(option.value) >= currentDivValue) {
                          option.disabled = true;
                      } else {
                          option.disabled = false;
                      }
                  }
              } else {
                  for (let option of desiredDiv.options) {
                      option.disabled = false;
                  }
              }
          }

          // Слушатели изменений
          currentPos.addEventListener("change", () => {
              toggle1DivisionSelect();
              updateDesiredOptions();
              calculatePrice();
              updateImage(currentPos.value, currentImage);
          });

          currentDiv.addEventListener("change", () => {
              updateDesiredDivisionOptions();
              calculatePrice();
          });

          desiredPos.addEventListener("change", () => {
              toggleDivisionSelect();
              updateDesiredDivisionOptions();
              calculatePrice();
              updateImage(desiredPos.value, desiredImage);
          });

          server.addEventListener("change", () => {
            calculatePrice();
            updateServerImage(server.value, serverImage);
          });

          desiredDiv.addEventListener("change", calculatePrice);
          lpPerWin.addEventListener("change", calculatePrice);
          specificRole.addEventListener("change", calculatePrice);
          duoBooster.addEventListener("change", calculatePrice);

          // Применение купона
          applyCouponBtn.addEventListener("click", function () {
              couponValue = couponInput.value
              let csrftoken = getCookie("csrftoken");

              fetch("/check-coupon/", {
                method: 'POST',
                body: JSON.stringify({"coupon": couponValue}),
                headers: { "X-CSRFToken": csrftoken,
                 "Content-Type": "application/json" },
              })
              .then(res => res.json())
              .then(data => {
                if (data.success) {
                  discount = data.discount;
                  discountElem.textContent = discount;
                } else {
                  alert(data.message);
                  discount = 0;
                  discountElem.textContent = discount;
                }
                calculatePrice();
          })
          .catch(error => console.error('Ошибка:', 'Сервер не отвечает'));
          });

          desiredDiv.value = 3
          currentDiv.value = 3
          // Первоначальные вызовы функций для корректной работы
          toggle1DivisionSelect();
          toggleDivisionSelect();
          updateDesiredOptions();
          calculatePrice();
          updateImage(currentPos.value, currentImage);
          updateImage(desiredPos.value, desiredImage);
          updateServerImage(server.value, serverImage);
          });


          function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
              "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
          }
    </script>
  {% endblock %}
