{% extends "user/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/store_account_page.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <!-- Left Section: Order Information -->
  <div class="order-info">
    <div class="order-details">
      <h1>🛒 Оформление заказа</h1>
      <p><span class="icon">✔️</span>Автоматическая доставка</p>
    </div>

    <!-- Table with order details -->
    <table class="order-table">
      <tr>
        <th>Сервер:</th>
        <td>{{ account.server }}</td>
        <th>Чемпионы:</th>
        <td>{{ account.champions }}</td>
      </tr>
      <tr>
        <th>Уровень:</th>
        <td>{{ account.lvl }}</td>
        <th>Ранг:</th>
        <td>{{ account.rang }}</td>
      </tr>
      <tr>
        <th>Скины:</th>
        <td>{{ account.skins }}</td>
      </tr>
    </table>

    <!-- Short description -->
    <div class="description">
      <h3>Краткое описание:</h3>
      <p>{{ account.short_description }}</p>
    </div>

    <!-- Long description -->
    <div class="long-description">
      <h3>Полное описание:</h3>
      <p>{{ account.description|linebreaksbr }}</p> <!-- Убрали лишнюю скобку -->
    </div>

    <div class="image-gallery">
      {% if account.images %}
        {% for image in account.images.all %}
          <img src="{{ image.image.url }}" alt="Изображение аккаунта" class="thumbnail" onclick="openModal('{{ image.image.url }}')">
        {% endfor %}
      {% endif %}
    </div>

      {% if account.is_active %}
      <div class="payment">
        <button type="submit" id="bybtn" class="btn">Купить</button>
      </div>
      {% endif %}

  </div>

  <!-- Right Section: Seller Information -->
   {% if chat_room %}
  <div class="seller-info">
    <div class="info_seller">
      <img src="{{ account.user.avatar.url }}" alt="" class="avatar1">
      <div class="text-block">
        <h2>Продавец: {{ account.user.username }}</h2>
        <p class="status {% if account.user.is_online %}online{% else %}offline{% endif %}">{% if account.user.is_online %} Онлайн {% else %} Оффлайн {% endif %}</p>
      </div>
    </div>
    <div class="chat-log">
      {% for sms in chat_room.messages.all %}
      {% if sms.massage_type == 'chat_message'%}
        {% if sms.author == user %}
          <!-- Сообщение от текущего пользователя (вы) -->
          <div class="message_you">
            <p>
              <span class="sender">Вы</span>: {{ sms.text }}</p>
              <p><span class="time">{{ sms.created|date:"H:i" }}</span></p>

          </div>
        {% else %}
          <!-- Сообщение от другого пользователя (например, продавца) -->
          <div class="message_seller">
            <p>
              <span class="sender">{{ sms.author.username }}</span>: {{ sms.text }}</p>
              <p><span class="time">{{ sms.created|date:"H:i" }}</span></p>

          </div>
        {% endif %}
      {% endif %}
      {% if sms.massage_type == 'buy_account'%}
        {% if sms.author == user %}
        <div class="buy_notification">
          <div class="notification_buyer">
            <p>Вы успешно приобрели аккаунт у продавца <strong>{{ chat_room.seller.username }}</strong>.</p>
            <p>Ожидайте логин и пароль для входа.</p>
            {% if not account.is_confirmed %}
              <button class="confirm_purchase" onclick="confirmPurchase()">Подтвердить покупку</button>
            {% endif %}
          </div>
        </div>
        {% else %}
        <div class="buy_notification">
          <div class="notification_seller">
            <p>Покупатель <strong>{{ chat_room.buyer.username }}</strong> приобрел ваш аккаунт.</p>
            <p>Пожалуйста, предоставьте ему логин и пароль для входа.</p>
          </div>
        </div>
        {% endif %}
      {% endif %}
      {% if sms.massage_type == 'buy_account_acept'%}
          {% if sms.author == user %}
          <div class="buy_notification">
            <div class="notification_buyer">
              <p>Вы успешно подтвердили покупку!</p>
            </div>
          </div>
          {% else %}
          <div class="buy_notification">
            <div class="notification_seller">
              <p>Покупатель <strong>{{ chat_room.buyer.username }}</strong> подтвердил покупку, ваш баланс пополнен.</p>
            </div>
          </div>
          {% endif %}
      {% endif %}
      {% endfor %}
    </div>
    <input type="text" id="chat-message-input" autocomplete="off" placeholder="Введите сообщение...">
    <button id="chat-message-submit">Отправить</button>
  </div>
  {% else %}
  {% endif %}
</div>

<!-- Modal for viewing large image -->
<div id="imageModal" class="modal">
  <span class="close" onclick="closeModal()">&times;</span>
  <img class="modal-content" id="modalImage">
  <a class="prev" onclick="changeImage(-1)">&#10094;</a>
  <a class="next" onclick="changeImage(1)">&#10095;</a>
</div>


{% endblock %}
{% block scripts %}
<script>
  let chatRoomId = "{{ chat_room.id }}";  // Подставить правильный ID
  let accountId = "{{ account.id }}"
  let userId = "{{ request.user }}";   // Подставить ID пользователя
  const wsUrl = 'ws://' + window.location.host + '/ws/chat/' + chatRoomId + '/' + accountId + '/';
  const byBtn = document.getElementById('bybtn');

  // Создаем подключение WebSocket
  let chatSocket = new WebSocket(wsUrl);

  chatSocket.onopen = function() {
      console.log('WebSocket connection opened');
  };

  chatSocket.onclose = function(e) {
      console.log('WebSocket connection closed: ', e);
  };

  chatSocket.onerror = function(e) {
      console.log('WebSocket error: ', e);
  };

  chatSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      console.log('Message received:', data);

      const type = data.type
    if (type === 'chat_message') {
        const message = data.message;
        const username = data.username;
        const created = data.created;


      const currentUser = "{{ user.username }}";

        console.log('123',data)
        const chatMessages = document.querySelector(".chat-log");
        const messageElement = document.createElement('div');

        if (username === currentUser) {
          messageElement.classList.add("message_you");
          messageElement.innerHTML = `<p><span class="sender">Вы</span>: ${message} <span class="time">${created}</span></p>`;
        } else {
          messageElement.classList.add("message_seller");
          messageElement.innerHTML = `<p><span class="sender">${username}</span>: ${message} <span class="time">${created}</span></p>`;
        }

        chatMessages.appendChild(messageElement);
        chatMessages.scrollTop = chatMessages.scrollHeight

  }
   if (type === 'error') {
        const messagesDiv = document.getElementById("messages-container");
        var message = document.createElement('div');
        message.setAttribute('class', 'alert alert-' + "warning");
        message.textContent = data.message
        messagesDiv.appendChild(message)
     // Отображаем сообщение и задаем таймер для скрытия
     messagesDiv.style.display = "block";
     setTimeout(() => {
       messagesDiv.style.opacity = "0"; // Плавное исчезновение
       setTimeout(() => {
         messagesDiv.style.display = "none";
         messagesDiv.style.opacity = "1"; // Возвращаем видимость для будущих сообщений
       }, 500); // Время исчезновения (в миллисекундах)
     }, 3000);
   }
   if (type === 'buy_account') {
      console.log(data)
      const currentUser = "{{ user.username }}";
      const userId = data.userid
      const seller = "{{ chat_room.seller.username }}";
      const buyer = "{{ chat_room.buyer.username }}";
      const chatMessages = document.querySelector(".chat-log");
      const messageElement = document.createElement('div');
      messageElement.classList.add("buy_notification");
      console.log('1111', currentUser, seller, buyer)

      // Удаляем кнопку "Купить", если она есть
  const buyButton = document.getElementById('bybtn'); // Убедитесь, что это ID кнопки "Купить"
  if (buyButton) {
    buyButton.remove();
  }

      if (currentUser === seller) {
        messageElement.innerHTML = `
        <div class="notification_seller">
          <p>Покупатель <strong>${buyer}</strong> приобрел ваш аккаунт.</p>
          <p>Пожалуйста, предоставьте ему логин и пароль для входа.</p>
        </div>
      `;
      } else if (currentUser === buyer) {
        messageElement.innerHTML = `
          <div class="notification_buyer">
            <p>Вы успешно приобрели аккаунт у продавца <strong>${seller}</strong>.</p>
            <p>Ожидайте логин и пароль для входа.</p>
            <button class="confirm_purchase" onclick="confirmPurchase()">Подтвердить покупку</button>
          </div>
        `;
   }
   chatMessages.appendChild(messageElement);
   chatMessages.scrollTop = chatMessages.scrollHeight;
  }

  if (type === 'buy_account_acept') {
    const seller = "{{ chat_room.seller.username }}";
    const buyer = "{{ chat_room.buyer.username }}";
    const currentUser = "{{ user.username }}";
    const chatMessages = document.querySelector(".chat-log");
    const messageElement = document.createElement('div');
    messageElement.classList.add("buy_notification");
    console.log(444, currentUser, buyer, seller)

    if (currentUser === seller) {
      messageElement.innerHTML = `
      <div class="notification_seller">
        <p>Покупатель <strong>${buyer}</strong> подтвердил покупку, ваш баланс пополнен.</p>
      </div>
    `;
    } else if (currentUser === buyer) {
      const button = document.querySelector('.confirm_purchase');
      button.style.display = 'none'
      messageElement.innerHTML = `
        <div class="notification_buyer">
          <p>Вы успешно подтвердили покупку!</p>
        </div>
      `;
  }
  chatMessages.appendChild(messageElement);
  chatMessages.scrollTop = chatMessages.scrollHeight;
}
};

function confirmPurchase() {
  chatSocket.send(JSON.stringify({
      'type': 'buy_account_acept',
  }));
};




  // Прокручиваем чат до последнего сообщения при загрузке страницы
  function scrollToBottom() {
    const chatMessages = document.querySelector(".chat-log");
    chatMessages.scrollTop = chatMessages.scrollHeight;
  }

  scrollToBottom();

  document.querySelector('#chat-message-submit').onclick = function() {
      const messageInput = document.querySelector('#chat-message-input');
      const message = messageInput.value;
      console.log('Sending message:', message);

      chatSocket.send(JSON.stringify({
          'type': 'chat_message',
          'message': message,
          'sender_id': userId
      }));

      messageInput.value = '';
  };

  document.getElementById('bybtn').onclick = function() {
    chatSocket.send(JSON.stringify({
        'type': 'buy_account',
    }));
};


  let currentImageIndex = 0;
  let images = [];

  // Функция для открытия модального окна с изображением
  function openModal(imageUrl) {
    const modal = document.getElementById("imageModal");
    const modalImage = document.getElementById("modalImage");

    images = Array.from(document.querySelectorAll('.thumbnail')).map(img => img.src);
    currentImageIndex = images.indexOf(imageUrl);

    modal.style.display = "block";
    modalImage.src = imageUrl;
  }

  // Отправка сообщения по Enter
document.querySelector('#chat-message-input').addEventListener('keydown', function(event) {
  if (event.key === 'Enter' && !event.shiftKey) {  // Проверка нажатия Enter без Shift
      event.preventDefault();  // Предотвращаем добавление новой строки
      const messageInput = document.querySelector('#chat-message-input');
      const message = messageInput.value.trim();

      if (message === '') return;  // Не отправлять пустое сообщение

      console.log('Sending message:', message);

      chatSocket.send(JSON.stringify({
          'message': message,
          'sender_id': userId,
          'type': 'chat_message'
      }));

      messageInput.value = '';  // Очистить поле ввода после отправки
  }
});
  // Функция для закрытия модального окна
  function closeModal() {
    document.getElementById("imageModal").style.display = "none";
  }

  // Функция для смены изображений в модальном окне
  function changeImage(direction) {
    currentImageIndex += direction;
    if (currentImageIndex < 0) {
      currentImageIndex = images.length - 1; // Переход к последнему изображению
    } else if (currentImageIndex >= images.length) {
      currentImageIndex = 0; // Переход к первому изображению
    }
    document.getElementById("modalImage").src = images[currentImageIndex];
  }


</script>
{% endblock %}
