.container {
    justify-items: center; /* Горизонтальное выравнивание по центру */
    align-items: center;
    max-width: max-content;
    margin-top: 300px;
    background-color: rgba(0, 0, 0, 0.741);
    border-radius: 30px;
}

.container h1 {
    Text-align: center;
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #007BFF; /* Синий цвет фона */
    color: white; /* Белый цвет текста */
    padding: 20px 40px; /* Размеры кнопки */
    font-size: 28px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    border: none; /* Убираем границы */
    border-radius: 30px; /* Скругленные углы */
    cursor: pointer; /* Курсор в виде руки */
    transition: background-color 0.3s ease; /* Плавный переход при наведении */
    display: flex;
    align-items: center;
    max-width: max-content;
    margin: 50px auto;
}

/* Стиль кнопки при наведении */
.btn:hover {
    background-color: #0056b3; /* Темнее синий цвет при наведении */
}
