.block_login {
    background-color: rgba(88, 84, 84, 0.18);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 10px;
    padding: 38px 108px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует содержимое по горизонтали */
}

.block_login a {
    color: #46F0C7;
}

.block_login h2 {
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 12px;
}

.inputs input {
    width: 350px;
    height: 35px;
    background-color: rgba(88, 84, 84, 0.18);
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 15px;
    color: white;
    font-size: 20px;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует все содержимое формы по горизонтали */
}

.login_submit {
    width: 200px;
    height: 30px;
    background-color: #0057FF;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px; /* Добавляем отступ сверху для кнопки */
}

.login_submit:hover {
    background-color: #0045cc;
}

.registration {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 18px;
}
