.container {
    width: min-content;
    height: 800px;
    display: flex;
    margin: 120px auto;

    background-color: rgba(88, 84, 84, 0.18);
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 92px;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 90px;
    padding-bottom: 65px;
}

.profile {
    width: 500px;
    padding-right: 15px;
    border-right: 1px solid rgb(255, 255, 255);
    margin-right: 60px;
    text-align: center;
}

.my_purchases {
    width: 500px;
    border-right: 1px solid rgb(255, 255, 255);
    text-align: center;
}

.bookings {
    width: 500px;
    padding-right: 15px;
    text-align: center;

}

.block_line{
    margin-top: 66px;
}


.line {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 310px;
    height: 30px;
    background-color: #0057FF;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin-top: 15px;
}

.profile_buttons{
    display: grid;
    max-width: min-content;
    margin: 0 auto;
}

.btn:hover {
    background-color: #0045cc; /* Более темный оттенок синего для эффекта затенения */
}

.line {
    margin-bottom: 36px;
}


.purchases {
    border-top: 1px solid #fff;
    padding-top: 50px;
    margin-top: 15px;
    padding-right: 15px;
}

.purchases div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.bookings_border {
    border-top: 1px solid #fff;
    padding-top: 50px;
    margin-top: 15px;
}

.booking-item {
    width: 420px;
    height: 110px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 14px 24px;
    margin-left: 50px;
}

.booking-item div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.booking-item1 {
    width: 420px;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 14px 24px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}


.form_change_password {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    position: fixed; /* Измените на fixed для улучшения поведения */
    top: 0;
    left: 0;
    display: none; /* По умолчанию скрыта */
    z-index: 1000; /* Убедитесь, что форма выше других элементов */
}

.form_change_email {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    position: fixed; /* Измените на fixed для улучшения поведения */
    top: 0;
    left: 0;
    display: none; /* По умолчанию скрыта */
    z-index: 1000; /* Убедитесь, что форма выше других элементов */
}

.form_change_balance {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    position: fixed; /* Измените на fixed для улучшения поведения */
    top: 0;
    left: 0;
    display: none; /* По умолчанию скрыта */
    z-index: 1000; /* Убедитесь, что форма выше других элементов */
}

.form {
    width: min-content;
    height: min-content;
    background-color: rgba(122, 120, 120, 0.18);
    border: 2px solid white;
    border-radius: 15px;
    position: absolute; /* Измените на absolute для правильного позиционирования */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 38px 150px;
    text-align: center;
}

.form h2 {
    margin-bottom: 30px;

}

.form_email {
    width: min-content;
    height: min-content;
    background-color: rgba(122, 120, 120, 0.18);
    border: 2px solid white;
    border-radius: 15px;
    position: absolute; /* Измените на absolute для правильного позиционирования */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 38px 150px;
    text-align: center;
}

.form_email h2 {
    margin-bottom: 30px;
}

.form_balance {
    width: max-content;
    height: min-content;
    background-color: rgba(122, 120, 120, 0.18);
    border: 2px solid white;
    border-radius: 15px;
    position: absolute; /* Измените на absolute для правильного позиционирования */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 38px 150px;
    text-align: center;
}

.form_balance h2 {
    margin-bottom: 30px;
}


input{
    width: 350px;
    height: 35px;
    background-color: rgb(88, 84, 84, .18);
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 15px;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.login_submit {
    width: 200px;
    height: 30px;
    background-color: #0057FF;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.login_submit:hover {
    background-color: #0045cc; /* Более темный оттенок синего для эффекта затенения */
}


.changenickname {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: content;
    height: 30px;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.avatar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.avatarnickname{
    display: flex;
    align-items: center;
    justify-content: center;
}

#id_avatar{
    display: none;
}

.avatar-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  margin-right: 20px;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Изначально скрыта */
    pointer-events: none;
  }

.edit-icon img {
  width: 80px;
  height: 80px;
  /* opacity: 0.1; */
}

.avatar-container:hover .avatar-img {
    opacity: 0.3;
}

.avatar-container:hover .edit-icon {
    display: block; /* Показать иконку при наведении */
}


.changediscord {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: content;
    height: 30px;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.icon1 {
    width: 20px;
    height: 20px;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    position: fixed; /* Измените на fixed для улучшения поведения */
    top: 0;
    left: 0;
    display: none; /* По умолчанию скрыта */
    z-index: 1000;
}

.modal-content {
    width: min-content;
    height: min-content;
    background-color: rgba(122, 120, 120, 0.18);
    border: 2px solid white;
    border-radius: 15px;
    position: absolute; /* Измените на absolute для правильного позиционирования */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 38px 150px;
    text-align: center;
    position: relative;
}

.modal-content h2 {
    margin-bottom: 30px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.my_purchases {
    max-width: 100%; /* Установите максимальную ширину, если необходимо */
}

.scrollable {
    max-height: 600px; /* Ограничиваем высоту */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    padding-top: 50px; /* Опционально: внутренний отступ */
}

.scrollable::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки (для Chrome, Safari, Edge) */
}

.scrollable::-webkit-scrollbar-thumb {
    background: #888888; /* Цвет ползунка */
    border-radius: 4px; /* Скругление ползунка */
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет ползунка при наведении */
}


.scrollable div {
    border: 2px solid #c8c8c8;
    border-radius: 10px;
    padding: 15px 10px;
    margin-bottom: 20px;
}
