.block_login{
    background-color: rgb(88, 84, 84, .18);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border: 2px solid white;
    border-radius: 10px;
    padding: 38px 108px;
}

.block_login a{
    color: #46F0C7;
}


.block_login h2{
    color: white;
    Text-align: center;
    margin-bottom: 60px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 12px;
}

.inputs input{
    width: 350px;
    height: 35px;
    background-color: rgb(88, 84, 84, .18);
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 15px;
    color: white;
    font-size: 20px;
}

.remember_me{
    display: flex;
}

.remember {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.login_submit {
    width: 200px;
    height: 30px;
    background-color: #0057FF;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.login_submit:hover {
    background-color: #0045cc; /* Более темный оттенок синего для эффекта затенения */
}

.registration{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 18px;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
