.containerchoice {
    display: flex;
    width: 100%;
    background-color: #fff;
    color: rgb(63, 134, 226);
    justify-content: space-between;
}

.containerchoice h3 {
    color: rgb(63, 134, 226);
    font-size: 24px;
}
.card {
    width: 30%;
    align-items: center;
    justify-content: center;
}

.serverimg {
    display: flex;
    width: 160px;
    height: 160px;
    align-items: center;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 33%;
    text-align: center;
}

.select-box {
    width: 100%;
    margin: 10px 0;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.last {
    margin-top: 30px;
}

.coupon {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    color: rgb(63, 134, 226);
    display: flex;
    align-items: center;
    gap: 20px;

}

.coupon input {
    padding: 10px;
    width: 25%;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-left: 30px;
}

.coupon div {
    padding: 10px 20px;
    background-color: #0057FF;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 15%;
    height: 40px;
    font-size: 18px;
}

.coupon div:hover {
    background-color: #0045cc;
}

.discount {
    font-size: 18px;
    color: green;
    font-weight: bold;
}

.total {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    display: flex;

    margin-top: 10px;
    padding: 20px;
}

.purchase {
    color: #0045cc;
    width: 50%;
    text-align: left;
}

.purchase h3 {
    color: rgb(63, 134, 226);
    font-size: 28px;
    margin-bottom: 20px;
}

.purchase button {
    padding: 10px 20px;
    background-color: #0057FF;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 40%;
    height: 50px;
    font-size: 18px;
}

.purchase button:hover {
    background-color: #0045cc;
}

.description {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description p {
    color: #0045cc;
    padding: 10px;
    border: 2px solid #3fabf3;
    box-shadow: 5px 5px 10px #81a1b7;
    border-radius: 10px;
    font-size: 16px;

}

.option {
    text-align: start;
}

.option h3 {
    font-size: 28px;
    margin-bottom: 5px;
}

.option-row {
    font-size: 22px;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ccc; /* Серый цвет */
    border-radius: 3px; /* Закругленные углы */
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease; /* Плавный переход */
}

.checkbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: transparent; /* Прозрачный кружок по умолчанию */
    border-radius: 50%; /* Круглая форма */
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease; /* Плавный переход */
}

.checkbox:checked::before {
    background-color: #007bff; /* Синий цвет внутри при выборе */
}

.option-row label {
    cursor: pointer; /* Меняем курсор на указатель при наведении на надпись */
}

.checkbox:hover {
    cursor: pointer; /* Меняем курсор на указатель при наведении на чекбокс */
}

.hidden {
    display: none;
}

#coupon-message {
    position: fixed;
    bottom: 20px; /* Расположить контейнер с сообщениями внизу экрана */
    right: 20px;  /* Расположить справа */
    width: 300px; /* Фиксированная ширина сообщений */
    z-index: 1000; /* Чтобы сообщения находились выше других элементов */
}
