.container-skin {
    background-color: aliceblue;
    width: 100%;
    height: 632px;

}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
}


.skins {
    background-color: rgb(11, 66, 74);
    width: 100%;
    height: 532px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(28, 28, 28);
    width: 100%;
    height: 150px;
    padding: 0 60px;
}


.button {
    padding: 10px 20px;
    background-color: #0057FF;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-top: 15px;
}

.button:hover {
    background-color: #0045cc;
}

.button1 {
    padding: 10px 20px;
    background-color: #0057FF;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-top: 15px;
}

.button1:hover {
    background-color: #0045cc;
}

#loading {
    z-index: 15000;
}


.char1name {
    display: none;
}

.skin1name {
    display: none;
}

.account_name {
    display: flex;
    flex-direction: column; /* Группы элементов идут в столбик */
    max-width: 300px; /* Ограничиваем ширину формы */
}

.form_group {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Расстояние между полями */
}

.form_group label {
    width: 90px; /* Ширина для выравнивания лейблов */
    margin-right: 10px; /* Отступ между лейблом и полем ввода */
    text-align: right; /* Выравнивание текста лейбла справа */
    font-weight: bold;
}

.form_group select,
input[type="text"] {
    flex: 1; /* Поля занимают оставшееся пространство */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
