/* body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
} */

.container {
display: flex;
max-width: 1400px;
min-height: 1000px;
max-height: 1100px;
margin: 100px auto;
padding: 20px;
background-color: #fff;
border-radius: 8px;
}

.order-info {
/* flex: 3; */
padding-right: 20px;
width: 50%;
}

.order-details {
border-bottom: 1px solid #eee;
padding-bottom: 15px;
margin-bottom: 15px;
}

.order-details p {
    color: #333;
}


.order-details h1 {
font-size: 24px;
color: #333;
margin-bottom: 10px;
}

.order-details .icon {
color: #28a745;
margin-right: 10px;
}

.order-table {
width: 100%;
border-collapse: collapse;
margin-top: 15px;
}

.order-table th, .order-table td {
padding: 8px;
color: #333;
font-size: 14px;
}

.order-table th {
text-align: left;
font-weight: bold;
}

.description, .long-description {
margin-top: 20px;
}

.long-description h3, .description h3 {
font-size: 18px;
margin-bottom: 10px;
color: #333;
}

.long-description p, .description p {
font-size: 14px;
line-height: 1.6;
color: #555;
word-wrap: break-word;
}

.images {
display: flex;
gap: 10px;
margin-top: 15px;
}

.images img {
width: 80px;
height: 80px;
border-radius: 4px;
object-fit: cover;
border: 1px solid #ddd;
}

.payment {
margin-top: 20px;
}

.settings {
margin-top: 20px;
}

.price {
font-size: 20px;
font-weight: bold;
color: #333;
}

.btn {
display: inline-block;
background-color: #007bff;
color: white;
padding: 10px 20px;
border-radius: 4px;
text-align: center;
text-decoration: none;
margin-top: 15px;
font-size: 16px;
}

.btnset {
display: inline-block;
background-color: #007bff;
color: white;
padding: 10px 20px;
border-radius: 4px;
text-align: center;
text-decoration: none;
margin-top: 15px;
font-size: 16px;
display: inline-block;
cursor: pointer;
}

.btndeleteaccount {
display: inline-block;
background-color: #7b2011;
color: white;
padding: 5px 10px;
border-radius: 4px;
text-align: center;
text-decoration: none;
margin-top: 15px;
font-size: 14px;
display: inline-block;
cursor: pointer;
}

.rating {
color: #ffc107;
font-size: 16px;
}

.feedback {
font-size: 12px;
color: #888;
}


textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(88, 84, 84, .18);
    margin-bottom: 20px;
    color: white;
}

/* .textarea {
width: 100%;
padding: 8px;
margin-top: 10px;
font-size: 16px;
border-radius: 4px;
border: 1px solid #ccc;
resize: vertical;
height: 60px;
} */



/* Основные стили для изображения */
.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.thumbnail:hover {
transform: scale(1.1);
}

/* Модальное окно */
.modal {
display: none; /* Скрыто по умолчанию */
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
display: block;
margin: 0 auto;
max-width: 80%;
max-height: 80%;
margin-top: 5%;
}

.close {
position: absolute;
top: 15px;
right: 35px;
color: #fff;
font-size: 40px;
font-weight: bold;
cursor: pointer;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
}

.prev, .next {
position: absolute;
top: 50%;
padding: 20px;
color: #fff;
font-size: 48px;
font-weight: bold;
cursor: pointer;
transition: 0.3s ease;
}

.prev {
left: 50px;
}

.next {
right: 50px;
}

.prev:hover,
.next:hover {
background-color: rgba(246, 246, 246, 0.8);
}

/* Основной стиль для чата */
.seller-info {
    width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #f4f7f6;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    height: 100%;
    gap: 20px;
}

.seller-info h1 {
    font-size: 26px;
    font-weight: 600;
    color: #333;
}

.seller-info h2 {
    font-size: 20px;
    font-weight: 400;
    color: #007aff;
}

.chat-log {
    flex-grow: 1;
    width: 100%;
    height: 60vh;
    border-radius: 12px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    overflow-y: auto;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#chat-message-input {
    width: 70%;
    padding: 12px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-right: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#chat-message-input:focus {
    outline: none;
    background-color: #f1f1f1;
    border-color: #007aff;
}

#chat-message-submit {
    width: 120px;
    padding: 12px;
    background-color: #007aff;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#chat-message-submit:hover {
    background-color: #005bb5;
}

#chat-message-submit:focus {
    outline: none;
}

/* Анимации для сообщений */
.message {
    padding: 10px;
    border-radius: 12px;
    background-color: #e5e5ea;
    max-width: 70%;
    font-size: 14px;
    color: #333;
    word-wrap: break-word;
}

.message_you {
    align-self: flex-end;
    background-color: #007aff;  /* Цвет сообщений пользователя (как в iMessage) */
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    max-width: 70%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    font-size: 14px;
}

.message_you .sender {
    font-weight: bold;
}

.message_you .time {
font-size: 12px;
color: rgba(255, 255, 255, 0.7);
display: block;
margin-top: 5px;
}

.message_seller {
    align-self: flex-start;
    background-color: #f0f0f5;  /* Цвет сообщений собеседника */
    color: #333;
    border-radius: 20px;
    padding: 10px 15px;
    max-width: 70%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    font-size: 14px;
}

.message_seller p{
    color: #333;
  }

.message_seller .sender {
font-weight: bold;
}

.message_seller .time {
font-size: 12px;
color: rgba(0, 0, 0, 0.6);
display: block;
margin-top: 5px;
}

/* Плавные переходы для кнопок */
button {
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

.info_seller {
    display: flex; /* Выравнивание элементов в строку */
    align-items: center; /* Центрирование по вертикали */
    justify-content: flex-start; /* Выравнивание по левому краю */
    margin: 10px 0; /* Отступы сверху и снизу */
}

.avatar1 {
width: 50px; /* Размер аватара */
height: 50px; /* Фиксированная высота */
border-radius: 50%; /* Сделать аватар круглым */
margin-right: 15px; /* Отступ справа от аватара */
}

.text-block {
display: flex;
flex-direction: column; /* Текстовые элементы располагаются вертикально */
gap: 5px; /* Отступы между текстовыми элементами */
}

.text-block h2 {
margin: 0;
font-size: 16px; /* Размер заголовка */
}

.text-block .status {
margin: 0;
font-size: 14px; /* Размер текста статуса */
color: #555; /* Цвет текста статуса */
}

.status.online {
color: green; /* Зеленый цвет для статуса "Онлайн" */
}

.status.offline {
color: red; /* Красный цвет для статуса "Оффлайн" */
}


.modal1 {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content1 {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close1 {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close1:hover, .close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.confirm {
    background-color: green;
    color: white;
    border: none;
}

.cancel {
    background-color: red;
    color: white;
    border: none;
}

.buy_notification {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }

  .notification_seller p{
    color: #d9534f;
    font-weight: bold;
  }

  .notification_buyer p{
    color: #5bc0de;
  }

  .notification_buyer .confirm_purchase {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #5cb85c;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }

  .notification_buyer .confirm_purchase:hover {
    background-color: #4cae4c;
  }






.container1 {
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.container1 h1 {
    font-size: 46px;
    margin-bottom: 50px;
}

/* Стили для отзывов */
.read_reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin: auto;
}

/* Общие стили */
.review-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background: #f9f9f9;
}

.review {
margin-bottom: 15px;
padding-bottom: 15px;
border-bottom: 1px solid #dadada;
}

.review:last-child {
border-bottom: none;
padding-bottom: 0;
}

/* Заголовок отзыва */
.review-header {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 18px;
color: #555;
margin-bottom: 8px;
}

.review-author {
font-weight: bold;
color: #0073e6;
}

.review-date {
color: #747474;
}

/* Текст отзыва */
.review-text {
font-size: 16px;
line-height: 1.5;
color: #333;
}

/* Кнопка ответа */
.reply-button {
background: #0073e6;
color: #fff;
border: none;
border-radius: 5px;
padding: 8px 12px;
cursor: pointer;
font-size: 16px;
margin-top: 10px;
}

.reply-button:hover {
background: #005bb5;
}

/* Форма ответа */
.reply-form {
margin-top: 15px;
}

.reply-form textarea {
width: 100%;
height: 100px;
border: 1px solid #ddd;
border-radius: 5px;
padding: 10px;
font-size: 16px;
resize: none;
}

.reply-form .submit-reply {
margin-top: 10px;
background: #28a745;
color: #fff;
border: none;
border-radius: 5px;
padding: 8px 12px;
cursor: pointer;
font-size: 16px;
}

.reply-form .submit-reply:hover {
background: #218838;
}

/* Вложенные отзывы */
.nested-reviews {
margin-top: 20px;
margin-left: 20px;
border-left: 2px solid #ddd;
padding-left: 15px;
}

/* Статичные звезды */
.review-stars {
    display: inline-flex;
    gap: 3px;
}

.review-stars .star {
width: 24px;
height: 24px;
background-color: #ccc; /* Цвет неактивной звезды */
clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
);
}

.review-stars .star.active {
background-color: #ffc107; /* Цвет активной звезды */
}







/* Из формы заполнение звезд */
.star-input {
    display: none;
}


.star-rating p{
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.write_reviews {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-container {
    margin-top: 100px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: max-content;
    margin-bottom: 50px;
}

/* Заголовок */
.feedback-container h2 {
font-size: 24px;
margin-bottom: 15px;
color: #333;
}

/* Форма */
.feedback-form {
display: flex;
flex-direction: column;
}

/* Текстовое поле */
.feedback-form textarea {
resize: none;
height: 100px;
padding: 10px;
font-size: 18px;
border: 1px solid #ddd;
border-radius: 5px;
margin-bottom: 15px;
}


.feedback-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.feedback-form button:hover {
    background-color: #0056b3;
}


.stars .star {
    font-size: 24px;
    cursor: pointer;
    color: #ccc; /* Цвет неактивной звезды */
}

.stars .star.active {
color: #ffc107;
}


.parent {
    display: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 0;
}

.pagination a {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #0056b3;
}

.pagination-info {
    font-size: 14px;
    color: #555;
}


.review-avatar {
    width: 36px; /* Размер аватара */
    height: 36px;
    border-radius: 50%; /* Делает изображение круглым */
    margin-right: 10px; /* Отступ справа от имени пользователя */
    object-fit: cover; /* Обрезает изображение по размеру */
    vertical-align: middle; /* Выравнивает аватар по вертикали с текстом */
}

.review-author-info {
display: flex; /* Упорядочиваем аватар и имя в одну линию */
align-items: center; /* Выравниваем их по вертикали */
}


.form_set_account {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    position: fixed; /* Измените на fixed для улучшения поведения */
    top: 0;
    left: 0;
    display: none; /* По умолчанию скрыта */
    z-index: 1000; /* Убедитесь, что форма выше других элементов */
}

.form_setaccount {
    width: 1000px;
    height: 90%;
    background-color: rgba(39, 39, 39, 0.889);
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 38px 150px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.form_setaccount * {
    max-width: 100%; /* Элементы не выходят за пределы формы */
    box-sizing: border-box; /* Учитываем отступы и границы для внутренних элементов */
}

.form_setaccount h2 {
    margin-bottom: 30px;
    font-size: 36px;
}


.form_setaccount input{
    width: 100%;
    height: 40px;
    background-color: rgb(88, 84, 84, .18);
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 15px;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.form_setaccount select{
    width: 100%;
    height: 40px;
    background-color: rgb(88, 84, 84, .18);
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 15px;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.form_setaccount label{
    font-size: 22px;
    margin-bottom: 10px;
}

.form_setaccount .login_submit {
    width: 250px;
    height: 40px;
    background-color: #0057FF;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}


.image-item {
    position: relative;
    display: inline-block;
    margin: 10px;
  }

  .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }

  .delete-btn:hover {
    background-color: darkred;
  }



  .form_delete_account {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    position: fixed; /* Измените на fixed для улучшения поведения */
    top: 0;
    left: 0;
    display: none; /* По умолчанию скрыта */
    z-index: 1000; /* Убедитесь, что форма выше других элементов */
}

.form_deleteaccount {
    width: 1000px;
    height: min-content;
    background-color: rgba(39, 39, 39, 0.889);
    border: 2px solid white;
    border-radius: 15px;
    position: absolute; /* Измените на absolute для правильного позиционирования */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 38px 150px;
    text-align: center;
}

.form_deleteaccount h2 {
    margin-bottom: 30px;
    font-size: 36px;
}


.settingsdelete {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.btndeleteacept {
    width: 120px;
    height: 50px;
    display: inline-block;
    background-color: #7b2011;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}


.btndelclose {
    width: 120px;
    height: 50px;
    display: inline-block;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}



.form_delete_image {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    position: fixed; /* Измените на fixed для улучшения поведения */
    top: 0;
    left: 0;
    display: none; /* По умолчанию скрыта */
    z-index: 1000; /* Убедитесь, что форма выше других элементов */
}

.form_deleteimage {
    width: 1000px;
    height: min-content;
    background-color: rgba(39, 39, 39, 0.889);
    border: 2px solid white;
    border-radius: 15px;
    position: absolute; /* Измените на absolute для правильного позиционирования */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 38px 150px;
    text-align: center;
}

.form_deleteimage h2 {
    margin-bottom: 30px;
    font-size: 36px;
}


.settingsdeleteimage {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.settingsdeleteimage .btn-yes, .btn-no {
    width: 120px;
    height: 50px;
    display: inline-block;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
}
