{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css'%}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <a href="{% url 'main:home' %}" class="logo">
      <div>
        <img src="{% static 'images/logo.jpg'%}" alt="">
        <p>Lol-pay</p>
      </div>
    </a>
    <div class="header-menu">
      <a href="{% url 'main:home' %}" class="">Главная</a>
      <a href="{% url 'store:store' %}" class="">Магазин</a>
      <a href="{% url 'news:news' %}" class="">Новости</a>
      <a href="#" class="">Услуги</a>
      <a href="#" class="">Отзывы</a>
      <a href="#" class="">FAQ</a>
    </div>
    <div class="dropdown">
      {% if user.is_authenticated %}
          <button class="dropbtn">
            <img src="{{ user.avatar.url }}" alt="User Avatar" class="user-avatar">
            <p>{{ user.username }}</p>
          </button>
          <div class="dropdown-content">
              {% if user.is_staff %}
              <a href="{% url 'admin:index' %}">Админка</a>
              {% endif %}
              <a href="{% url 'user:profile' %}">Профиль</a>
              <a href="{% url 'user:messages' %}">Мои сообщения</a>
              <a href="{% url 'user:logout' %}">Выйти</a>
          </div>
      {% else %}
      <a href="{% url 'user:login' %}" class="login">
        <div>
          <p>Войти</p>
        </div>
      </a>
      {% endif %}
  </div>
  </header>
  {%block content%}
  {%endblock%}
  {% block scripts %}
  {% endblock %}

  <div id="messages-container">
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
      {% endif %}
  </div>



<script>
let wsUrl = 'ws://' + window.location.host + '/ws/notification/';
let notificationSocket = new WebSocket(wsUrl);

// Обработчик получения сообщений
notificationSocket.onmessage = function(event) {
  const data = JSON.parse(event.data);

  if (data.type === 'notification') {
      // Создаем новый элемент для сообщения
      const messageDiv = document.createElement('div');
      messageDiv.className = 'alert alert-success'; // alert-info или другой класс для стилизации
      messageDiv.textContent = data.message;

      // Добавляем сообщение в контейнер
      const messagesContainer = document.getElementById('messages-container');
      messagesContainer.appendChild(messageDiv);

      // Удаляем сообщение через 5 секунд
      setTimeout(() => {
          messageDiv.style.opacity = '0';
          messageDiv.style.transform = 'translateX(30px)';
          setTimeout(() => messageDiv.remove(), 500);
      }, 5000);
  }
};


// Автоматическое скрытие каждого сообщения через 5 секунд
const messages = document.querySelectorAll('.alert');
messages.forEach((message, index) => {
    setTimeout(() => {
        message.style.opacity = '0';
        message.style.transform = 'translateX(30px)'; // Добавляем анимацию исчезновения
        setTimeout(() => {
            message.remove(); // Удаляем сообщение из DOM после анимации
        }, 500); // Ждем анимацию исчезновения
    }, 5000); // Каждое сообщение скрывается через 5 секунд, добавляем время для каждого нового сообщения
});
</script>
</body>
</html>
