{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css'%}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <a href="{% url 'main:home' %}" class="logo">
      <div>
        <img src="{% static 'images/logo.jpg'%}" alt="">
        <p>Lol-pay</p>
      </div>
    </a>
    <div class="header-menu">
      <a href="{% url 'main:home' %}" class="">Главная</a>
      <a href="{% url 'store:store' %}" class="">Магазин</a>
      <a href="{% url 'news:news' %}" class="">Новости</a>
      <a href="{% url 'store:store_elo_boost' %}" class="">Услуги</a>
      <a href="{% url 'main:reviews' %}" class="">Отзывы</a>
      <a href="{% url 'store:faq' %}" class="">FAQ</a>
    </div>
    <div class="dropdown">
      {% if user.is_authenticated %}
      <div class="balance">
        <p>Баланс: {{ user.balance }} руб.</p>
      </div>
      {% endif %}
      {% if user.is_authenticated %}
          <button class="dropbtn">
            <img src="{{ user.avatar.url }}" alt="User Avatar" class="user-avatar">
            <p>{{ user.username }}</p>
          </button>
          <div class="dropdown-content">
              {% if user.is_staff %}
              <a href="{% url 'admin:index' %}">Админка</a>
              {% endif %}
              <a href="{% url 'user:profile' %}">Профиль</a>
              <a href="{% url 'user:messages' %}">Мои сообщения</a>
              <a href="{% url 'user:logout' %}">Выйти</a>
          </div>
      {% else %}
      <a href="{% url 'user:login' %}" class="login">
        <div>
          <p>Войти</p>
        </div>
      </a>
      {% endif %}
  </div>
  </header>
  {%block content%}
  {%endblock%}
  {% block scripts %}
  {% endblock %}

  <div id="messages-container">
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
      {% endif %}
  </div>



<script>
const isAuthenticated = '{{ user.is_authenticated }}'
console.log('mm', isAuthenticated)
if (typeof notificationSocket === "undefined" && isAuthenticated === 'True') {
  const protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
  let wsUrl = protocol + window.location.host + '/ws/notification/';
  let notificationSocket = new WebSocket(wsUrl);

const currentPath = window.location.pathname;
console.log('SSS',currentPath)

// Обработчик получения сообщений
notificationSocket.onmessage = function(event) {
  const data = JSON.parse(event.data);
  console.log('GOGO', data)

  if (data.type === 'notification') {
      // Создаем новый элемент для сообщения
      const messageLink = document.createElement('a');
      messageLink.className = 'alert alert-success'; // alert-info или другой класс для стилизации
      //messageDiv.textContent = data.message;

      // Добавляем ссылку в сообщение

      messageLink.href = data.link; // Предполагаем, что сервер отправляет URL в поле "link"
      console.log('aaa', messageLink.href)
      messageLink.textContent = data.message;
      messageLink.style.color = 'inherit'; // Устанавливаем стиль, чтобы ссылка выглядела как текст уведомления
      messageLink.style.textDecoration = 'none';

      // Добавляем сообщение в контейнер
      const messagesContainer = document.getElementById('messages-container');
      messagesContainer.appendChild(messageLink);

      // Удаляем сообщение через 5 секунд
      setTimeout(() => {
          messageLink.style.opacity = '0';
          messageLink.style.transform = 'translateX(30px)';
          setTimeout(() => messageLink.remove(), 500);
      }, 5000);
  }
};
}



// Автоматическое скрытие каждого сообщения через 5 секунд
const messages = document.querySelectorAll('.alert');
messages.forEach((message, index) => {
    setTimeout(() => {
        message.style.opacity = '0';
        message.style.transform = 'translateX(30px)'; // Добавляем анимацию исчезновения
        setTimeout(() => {
            message.remove(); // Удаляем сообщение из DOM после анимации
        }, 500); // Ждем анимацию исчезновения
    }, 5000); // Каждое сообщение скрывается через 5 секунд, добавляем время для каждого нового сообщения
});
</script>
</body>
</html>
