{% extends "store/store_base.html" %}
{% load static %}
{% block extra_head%}
<link rel="stylesheet" href="{% static 'css/messages.css' %}">

{% endblock %}
{% block extra_content %}
<div class="chat-container">
  <!-- Секция списка чатов -->
  <div class="chat-list">
      <h3>Сообщения</h3>
      <div class="chat-list-item">
        {% for chat in chats %}
          <a href="?chat_id={{ chat.id }}&account_id={{ chat.account.id }}" class="chat-item {% if chat.id == chat_id %}active{% endif %}" data-chat-id="{{ chat.id }}">
              <div class="avatar">FP</div>
              <div class="chat-info">
                  <span class="username">{{ chat.messages.last.author }}</span>
                  <span class="last-message">{{ chat.messages.last.text }}</span>
              </div>
              <span class="timestamp">{{ chat.messages.last.created|date:"H:i" }}</span>
          </a>
        {% endfor %}
      </div>
  </div>

  <!-- Секция окна чата -->
  <div class="chat-window">
      <div class="chat-header">
        {% if selected_chat.account.id %}
            <img src="{% if user == selected_chat.buyer %} {{ selected_chat.seller.avatar.url }} {% else %} {{ selected_chat.buyer.avatar.url }} {% endif %}" alt="" class="avatar1">
        {% endif %}
        <div class="user-info">
            <span class="username">
                {% if user == selected_chat.buyer %}
                    {{ selected_chat.seller }}
                {% else %}
                    {{ selected_chat.buyer }}
                {% endif %}
            </span>
            <span class="status {% if selected_chat.account.id %}
                {% if user == selected_chat.buyer %}
                    {% if selected_chat.seller.is_online %} online {% else %} offline {% endif %}
                {% else %}
                    {% if selected_chat.buyer.is_online %} online {% else %} offline {% endif %}
                {% endif %}
            {% endif %}">
                {% if selected_chat.account.id %}
                    {% if user == selected_chat.buyer %}
                        {% if selected_chat.seller.is_online %}
                            Онлайн
                        {% else %}
                            Оффлайн
                        {% endif %}
                    {% else %}
                        {% if selected_chat.buyer.is_online %}
                            Онлайн
                        {% else %}
                            Оффлайн
                        {% endif %}
                    {% endif %}
                {% endif %}
            </span>
            {% if selected_chat.account.id %}
                <a href="{% url 'store:store_account_page' selected_chat.account.id %}">
                    <span class="acc_name">{{ selected_chat.account.short_description }}</span>
                </a>
            {% endif %}
        </div>
      </div>
      <div class="chat-messages">
        {% for sms in selected_chat.messages.all %}
          {% if sms.massage_type == 'chat_message'%}
            {% if sms.author == user %}
              <div class="authormessage">
                <p><span class="sender">Вы</span>: {{ sms.text }} <span class="time">{{ sms.created|date:"H:i" }}</span></p>
              </div>
            {% else %}
              <div class="friendmessage">
                <p><span class="sender">{{ sms.author.username }}</span>: {{ sms.text }} <span class="time">{{ sms.created|date:"H:i" }}</span></p>
              </div>
            {% endif %}
          {% endif %}
          {% if sms.massage_type == 'buy_account'%}
            {% if sms.author == user %}
              <div class="buy_notification">
                <div class="notification_buyer">
                  <p>Вы успешно приобрели аккаунт у продавца <strong>{{ selected_chat.seller.username }}</strong>.</p>
                  <p>Ожидайте логин и пароль для входа.</p>
                  {% if selected_chat.account.buyer == user %}
                    <button class="confirm_purchase" onclick="confirmPurchase()">Подтвердить покупку</button>
                  {% endif %}
                </div>
              </div>
            {% else %}
              <div class="buy_notification">
                <div class="notification_seller">
                  <p>Покупатель <strong>{{ selected_chat.buyer.username }}</strong> приобрел ваш аккаунт.</p>
                  <p>Пожалуйста, предоставьте ему логин и пароль для входа.</p>
                  {% if not selected_chat.account.is_active %}
                    <button class="cancel_purchase" onclick="cancelPurchase()">Отменить покупку</button>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endif %}
          {% if sms.massage_type == 'buy_account_acept'%}
            {% if sms.author == user %}
              <div class="buy_notification">
                <div class="notification_buyer">
                  <p>Вы успешно подтвердили покупку!</p>
                </div>
              </div>
            {% else %}
              <div class="buy_notification">
                <div class="notification_seller">
                  <p>Покупатель <strong>{{ selected_chat.buyer.username }}</strong> подтвердил покупку, ваш баланс пополнен.</p>
                </div>
              </div>
            {% endif %}
          {% endif %}
          {% if sms.massage_type == 'buy_account_cancel'%}
            {% if sms.author == user %}
              <div class="buy_notification">
                <div class="notification_buyer">
                  <p>Вы успешно отменили заказ.</p>
                </div>
              </div>
            {% else %}
              <div class="buy_notification">
                <div class="notification_seller">
                  <p>Продавец отменил заказ.</p>
                </div>
              </div>
            {% endif %}
          {% endif %}
      {% endfor %}
      </div>
      {% if selected_chat.messages %}
      <div class="chat-input">
          <input type="text" placeholder="Написать...">
          <button class="send-btn">Отправить</button>
      </div>
      {% endif %}
  </div>
</div>


{% endblock %}
{% block scripts %}
<script>

// Получаем chat_id из параметра URL
const urlParams = new URLSearchParams(window.location.search);
const currentChatId = urlParams.get("chat_id") || "{{ chats.last.id }}";  // Используем последний чат по умолчанию
const accountId = urlParams.get("account_id")

// Инициализация WebSocket соединения
const protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
const chatSocket = new WebSocket(protocol + window.location.host + '/ws/chat/' + currentChatId + '/' + accountId + '/');
const notificationSocket = new WebSocket('ws://' + window.location.host + '/ws/notification/');

chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    const message = data.message;
    const username = data.username || "Неизвестный пользователь";
    const created = data.created;
    const type = data.type

    const currentUser = "{{ user.username }}";

    if (type === 'chat_message') {
        // Отображаем новое сообщение
        const chatMessages = document.querySelector(".chat-messages");
        const messageElement = document.createElement("div");

        // Определяем, кто автор сообщения и отображаем его
        if (username === currentUser) {
            messageElement.classList.add("authormessage");
            messageElement.innerHTML = `<p><span class="sender">Вы</span>: ${message} <span class="time">${created}</span></p>`;
        } else {
            messageElement.classList.add("friendmessage");
            messageElement.innerHTML = `<p><span class="sender">${username}</span>: ${message} <span class="time">${created}</span></p>`;
        }

        chatMessages.appendChild(messageElement);
        chatMessages.scrollTop = chatMessages.scrollHeight; // Прокрутка вниз
    }

    if (type === 'buy_account') {
      const currentUser = "{{ user.username }}";
      const seller = "{{ selected_chat.seller.username }}";
      const buyer = "{{ selected_chat.buyer.username }}";
      const chatMessages = document.querySelector(".chat-messages");
      const messageElement = document.createElement('div');
      messageElement.classList.add("buy_notification");
      console.log('1111', currentUser, seller, buyer)

      if (currentUser === seller) {
        messageElement.innerHTML = `
        <div class="notification_seller">
          <p>Покупатель <strong>${buyer}</strong> приобрел ваш аккаунт.</p>
          <p>Пожалуйста, предоставьте ему логин и пароль для входа.</p>
          <button class="cancel_purchase" onclick="cancelPurchase()"Отменить заказ</button>
        </div>
      `;
      } else if (currentUser === buyer) {
        messageElement.innerHTML = `
          <div class="notification_buyer">
            <p>Вы успешно приобрели аккаунт у продавца <strong>${seller}</strong>.</p>
            <p>Ожидайте логин и пароль для входа.</p>
            <button class="confirm_purchase" onclick="confirmPurchase()">Подтвердить покупку</button>
          </div>
        `;
    }
    chatMessages.appendChild(messageElement);
    chatMessages.scrollTop = chatMessages.scrollHeight;
  }

    if (type === 'buy_account_acept') {
    const seller = "{{ selected_chat.seller.username }}";
    const buyer = "{{ selected_chat.buyer.username }}";
    const currentUser = "{{ user.username }}";
    const chatMessages = document.querySelector(".chat-messages");
    const messageElement = document.createElement('div');
    messageElement.classList.add("buy_notification");
    console.log(222, currentUser, seller, buyer)

    if (currentUser === seller) {
      messageElement.innerHTML = `
      <div class="notification_seller">
        <p>Покупатель <strong>${buyer}</strong> подтвердил покупку, ваш баланс пополнен.</p>
      </div>
    `;
    } else if (currentUser === buyer) {
      const button = document.querySelector('.confirm_purchase');
      button.style.display = 'none'
      messageElement.innerHTML = `
      <div class="notification_buyer">
        <p>Вы успешно подтвердили покупку!</p>
      </div>
    `;
  }
  chatMessages.appendChild(messageElement);
  chatMessages.scrollTop = chatMessages.scrollHeight;
}


    if (type === 'buy_account_cancel') {
    const seller = "{{ selected_chat.seller.username }}";
    const buyer = "{{ selected_chat.buyer.username }}";
    const currentUser = "{{ user.username }}";
    const chatMessages = document.querySelector(".chat-messages");
    const messageElement = document.createElement('div');
    messageElement.classList.add("buy_notification");
    console.log(333, currentUser, seller, buyer)

    if (currentUser === seller) {
      messageElement.innerHTML = `
      <div class="notification_seller">
        <p>Вы успешно отменили заказ.</p>
      </div>
    `;
    } else if (currentUser === buyer) {
      const button = document.querySelector('.confirm_purchase');
      button.style.display = 'none'
      messageElement.innerHTML = `
      <div class="notification_buyer">
        <p>Продавец отменил заказ!</p>
      </div>
    `;
  }
  chatMessages.appendChild(messageElement);
  chatMessages.scrollTop = chatMessages.scrollHeight;
}

}









  // Прокручиваем чат до последнего сообщения при загрузке страницы
function scrollToBottom() {
  const chatMessages = document.querySelector(".chat-messages");
  chatMessages.scrollTop = chatMessages.scrollHeight;
}

scrollToBottom();

// Обновляем последний чат в левой колонке
function updateLastMessageInChatList(chatId, message, created, username) {
    const chatItem = document.querySelector(`.chat-item[data-chat-id='${chatId}']`);
    if (chatItem) {
        const usernameElement = chatItem.querySelector(".username");
        const lastMessageElement = chatItem.querySelector(".last-message");
        const timestampElement = chatItem.querySelector(".timestamp");

        usernameElement.textContent = username;
        lastMessageElement.textContent = message;
        timestampElement.textContent = created ? created : "Только что";

        // Перемещаем элемент чата наверх списка
        const chatList = document.querySelector('.chat-list-item');
        chatList.prepend(chatItem); // Вставляем элемент в начало контейнера
    }
}

notificationSocket.onmessage = function(event) {
  const data = JSON.parse(event.data);
  const username = data.username
  const message = data.message;
  const created = data.created;
  const chatID = data.chat_room
  console.log('DATA', data)
  if (data.type === 'notification') {
    updateLastMessageInChatList(chatID, message, created, username);
  }
}
// Подвердить покупку
function confirmPurchase() {
  chatSocket.send(JSON.stringify({
      'type': 'buy_account_acept',
  }));
};

// Отменить покупку
function cancelPurchase() {
  const cancelButtons = document.querySelectorAll('.cancel_purchase');
  console.log(document.querySelectorAll('.cancel_purchase').length);
  cancelButtons.forEach(button => button.style.display = 'none');
  chatSocket.send(JSON.stringify({
      'type': 'buy_account_cancel',
  }));
};
// Обработчик отправки сообщения
const inputField = document.querySelector(".chat-input input");
const sendButton = document.querySelector(".send-btn");

sendButton.onclick = function () {
    const message = inputField.value;
    if (message.trim() !== "") {
        chatSocket.send(JSON.stringify({ 'message': message, 'type':'chat_message' }));
        inputField.value = "";  // Очистка поля ввода
    }
};

// Отправка по нажатию на Enter
inputField.addEventListener('keydown', function(event) {
  if (event.key === 'Enter' && !event.shiftKey) { // Проверяем, что Enter нажат без Shift
      event.preventDefault(); // Предотвращаем добавление новой строки
      sendButton.onclick()
  }
});


// Подсветка активного чата при загрузке страницы
document.querySelectorAll('.chat-item').forEach(item => {
    item.addEventListener('click', function() {
        document.querySelectorAll('.chat-item').forEach(chat => chat.classList.remove('active'));
        item.classList.add('active');
    });
});

// Подсвечиваем активный чат по умолчанию при загрузке страницы
document.querySelectorAll('.chat-item').forEach(item => {
          const chatId = item.getAttribute('data-chat-id');
          if (chatId === currentChatId) {
              item.classList.add('active');
          }
      });

  </script>

{% endblock %}
