{% extends "user/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="profile">
      <form id="avatar-form" action="{% url 'user:profile' %}" method="POST" enctype="multipart/form-data" class="avatarnickname">
        {% csrf_token %}
        <div class="avatar-container">
          <!-- Аватар -->
          <img id="avatar-preview" src="{{ user.avatar.url }}" alt="Аватар" class="avatar-img" onclick="document.getElementById('id_avatar').click()">
          <input type="hidden" name="update_profile" value="true">
          <!-- Иконка редактирования поверх аватара -->
          <div class="edit-icon">
            <img src="{% static 'images/change.png' %}" alt="Редактировать">
          </div>
        </div>
        {{ profile_form.avatar }}
      <h1>Eclipser</h1>
    </form>

    <div class="block_line">
      <div class="line">
        <p>Адрес электронной почты:</p>
        <p>{{ user.email }}</p>
      </div>
      <div class="line">
        <p>Дата создания аккаунта:</p>
        <p>{{ user.date_joined|date:"d.m.Y" }}</p>
      </div>
      <div class="line">
        <p>Никнейм в игре:</p>
        <button class="changenickname" onclick="editNickname()">
          <img src="{% static 'images/change.png' %}" alt="Иконка" class="icon1">
          {% if user.game_username %}<p>  {{ user.game_username }} </p>{% endif %}
        </button>
      </div>
      <div class="line">
        <p>Discord:</p>
        <button class="changediscord" onclick="editDicord()">
          <img src="{% static 'images/change.png' %}" alt="Иконка" class="icon1">
          {% if user.discord %}<p> {{ user.discord }} </p>{% endif %}
        </button>
      </div>
    </div>

    <div class="profile_buttons">
      <button class="btn" id="changePasswordBtn">Изменить пароль</button>
      <button class="btn" id="changeEmailBtn">Изменить почту</button>
    </div>
  </div>

  <div class="my_purchases">
    <h1>Мои покупки</h1>
    <div class="purchases">
      <div>
        <p>skin1</p>
        <p>790 руб.</p>
      </div>
      <div>
        <p>skin2</p>
        <p>850 руб.</p>
      </div>
      <div>
        <p>450 RP</p>
        <p>700 руб.</p>
      </div>
    </div>
  </div>

  <div class="bookings">
    <h1>Мои записи</h1>
    <div class="bookings_border">
      <div class="booking-item">
        <div>
          <p>Коучинг:</p>
          <p>24.09.2024</p>
          <img src="{% static 'images/arrow.png' %}" alt="" style="width: 11px; height: 11px;">
        </div>
        <div>
          <p>Сервер:EUW</p>
          <p>Ментор: eclipser</p>
        </div>
        <div>
          <p>Связь: Discord</p>
        </div>
      </div>
      <div class="booking-item1">
        <p>Коучинг:</p>
        <p>26.09.2024</p>
        <img src="{% static 'images/arrow.png' %}" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Модальное окно для смены пароля -->
<div class="form_change_password">
  <div class="form">
    <h2>Смена пароля</h2>
    <form action="{% url 'user:profile' %}" method='post'>
      {% csrf_token %}
      <div class="inputs">
        {{ form.old_password }}
        {{ form.new_password1 }}
        {{ form.new_password2 }}
      </div>
      <div style="margin: 0 auto;width: 200px; width: min-content;">
        <input class="login_submit" name='update_password' type="submit" value="Сменить пароль">
      </div>
    </form>
  </div>
</div>

<!-- Модальное окно для смены почты -->
<div class="form_change_email">
  <div class="form_email">
    <h2>Смена почты</h2>
    <form action="{% url 'user:profile' %}" method='post'>
      {% csrf_token %}
      <div class="inputs">
        {{ update_email.new_email }}
      </div>
      <div style="margin: 0 auto;width: 200px; width: min-content;">
        <input class="login_submit" name='update_email' type="submit" value="Сменить почту">
      </div>
    </form>
  </div>
</div>

<!-- Модальное окно для никнейма -->
<div id="nicknameModal" class="modal" style="display:none;">
  <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2>Изменить никнейм</h2>
      <form action="{% url 'user:profile' %}" method="post">
        {% csrf_token %}
        {{ profile_form.game_username }}
        <button onclick="saveNickname()" class="login_submit" name='update_profile' type="submit" >Сохранить</button>
      </form>
  </div>
</div>

<!-- Модальное окно для дискорда -->
<div id="discordModal" class="modal" style="display:none;">
  <div class="modal-content">
      <span class="close" onclick="closeModalDiscord()">&times;</span>
      <h2>Изменить ник Discord</h2>
      <form action="{% url 'user:profile' %}" method="post">
        {% csrf_token %}
        {{ profile_form.discord }}
        <button onclick="saveDiscord()" class="login_submit" name='update_profile' type="submit" >Сохранить</button>
      </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  // Смена пароля
  const changePasswordBtn = document.getElementById("changePasswordBtn");
  const formChangePassword = document.querySelector(".form_change_password");
  const form = document.querySelector(".form");

  // Открытие и закрытие формы по кнопке
  changePasswordBtn.addEventListener("click", function(event) {
    event.stopPropagation(); // Останавливаем событие, чтобы клик по кнопке не закрывал форму
    formChangePassword.style.display = formChangePassword.style.display === "block" ? "none" : "block";
  });

  // Закрытие формы при клике вне ее
  document.addEventListener("click", function(event) {
    if (formChangePassword.style.display === "block") {
      // Проверяем, был ли клик вне формы
      if (!form.contains(event.target) && event.target !== changePasswordBtn) {
        formChangePassword.style.display = "none"; // Скрываем форму
      }
    }
  });


// Смена почты
const changeEmailBtn = document.getElementById("changeEmailBtn");
const formChangeEmail = document.querySelector(".form_change_email");
const form1 = document.querySelector(".form_email");
// Открытие и закрытие формы по кнопке
changeEmailBtn.addEventListener("click", function(event) {
  event.stopPropagation(); // Останавливаем событие, чтобы клик по кнопке не закрывал форму
  formChangeEmail.style.display = formChangeEmail.style.display === "block" ? "none" : "block";
});
// Закрытие формы при клике вне ее
document.addEventListener("click", function(event) {
  if (formChangeEmail.style.display === "block") {
    // Проверяем, был ли клик вне формы
    if (!form1.contains(event.target) && event.target !== changeEmailBtn) {
      formChangeEmail.style.display = "none"; // Скрываем форму
    }
  }
});

// Сменя никнейма
  function editNickname() {
    document.getElementById("nicknameModal").style.display = "block";
}

function closeModal() {
    document.getElementById("nicknameModal").style.display = "none";
}

function saveNickname() {
    const newNickname = document.getElementById("newNickname").value;
    if (newNickname) {
        document.querySelector(".nickname").textContent = "Никнейм: " + newNickname;
        closeModal(); // Закрываем модальное окно
    }
}

// Закрытие модального окна при клике вне его
window.onclick = function(event) {
    const modal = document.getElementById("nicknameModal");
    const modal1 = document.getElementById("discordModal");
    if (event.target == modal ||  event.target == modal1) {
        modal.style.display = "none";
        modal1.style.display = "none";


    }
}

// Смена discord
function editDicord() {
  document.getElementById("discordModal").style.display = "block";
}

function closeModalDiscord() {
  document.getElementById("discordModal").style.display = "none";
}

function saveDicord() {
  const newDicrord = document.getElementById("newDiscord").value;
  if (newNickname) {
      document.querySelector(".nickname").textContent = "Никнейм: " + newNickname;
      closeModal(); // Закрываем модальное окно
  }
}

// отправка формы аватара

function uploadAvatar() {
  const input = document.getElementById('id_avatar');
  const form = document.getElementById('avatar-form');

  if (input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = function(e) {
          // Отображаем превью аватарки
          document.getElementById('avatar-preview').src = e.target.result;
      };
      reader.readAsDataURL(input.files[0]);

      // После выбора файла автоматически отправляем форму
      form.submit();
  }
}

</script>
{% endblock %}
